
    <h3>{{titulo}}</h3>
    <div class="container">
            <div class="row">
                        <div *ngIf="alertRegister" class="alert alert-warning">
                                        <strong>Error</strong> {{alertRegister}}
                                      </div>
                <div class="col-12" align="center">
                        <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Nuevo
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" href="#">Facil</a>
                                  <a class="dropdown-item" href="#">Medio</a>
                                  <a class="dropdown-item" href="#">Dificil</a>
                                </div>
                              </div>
                        <button type="button" class="btn btn-outline-success" (click) = "insertGame()">Guardar</button>
                        <button type="button" class="btn btn-outline-warning" (click) = "getGame()">Cargar</button>     
                        <button type="button" class="btn btn-outline-danger">Resolver</button>
                </div>
                    <div class="col-12" align="center">
                            <br>
                            <div id="sudokuGrid"></div>

</div>
</div>


    