
    <h1>{{titulo}}</h1>
    <div class="container">
            <div class="row">
                <div class="col-12" align="center">
                        <button type="button" class="btn btn-outline-primary" id="btn_test">New one</button>
                        <button type="button" class="btn btn-outline-success">Save</button>    
                        <button type="button" class="btn btn-outline-danger">Solve</button>
                </div>
                    <div class="col-12" align="center">
                            <br>
                            <div id="sudokuGrid"></div>

</div>
</div>


    